.banner1 {
    width: 100vw;
    height: 11vw; /* Puedes ajustar la altura según tus necesidades */
    background-color: #EEB573; /* Color amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
 margin-top: -14.98vw;
    z-index: 10000000;
  }
  
  .logo30 {
    max-width: 20vw; /* Ajustar el tamaño del logo */
    height: 8vw; /* Ajustar el tamaño del logo */
  }
  