/* Estilos para RequestHistorial y Rectangulo2 */
.historial-container {
    margin-top: 15%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  
  .rectangulo2-container {
    border-radius: 10px;
    width: 41%;
    height: 70px;
    background-color: #D9D9D9;
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
  }
  
  .rectangulo2-content {
    width: 250%;
    height: 100%;
   
    flex-direction: column;
  }
  
  .rectangulo2-date {
    margin-top: 100px;
    font-size: 23px;
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
  
    color: black;
  }
  
  .rectangulo2-name {
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
    margin-left: 10%;
    font-size: 1.2rem;
    color: black;
  }
  
  .rectangulo2-message {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  .rectangulo2-button {
    align-self: right;
    float: right;
   
    background-color: #007bff00;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .rectangulo2-button:hover {
    background-color: #0057b300;
  }
  