.rectangulo6666 {
  background-color: #D9D9D9;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 50px;
  display: flex; /* Usar flexbox para la alineación */
  align-items: center; /* Centrar verticalmente */
  padding: 0 16px; /* Espacio interno a los lados */
  box-sizing: border-box;
  width: 40%;
  margin-left: 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Rectangulo1.css */

.details-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  justify-self: right;
}

.details-icon {
  width: 20px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
}

.rectangulo span {
  margin: 0; /* Eliminar márgenes */
}

.rectangulo button {
  background-color: #818181;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.rectangulo button:hover {
  background-color: #0056b3;
}

.fecha44, .fecha445 {
  font-size: 20px;
  font-family: "Noticia Text", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin: 0; /* Eliminar márgenes */
}

.fecha445 {
  margin-left: 5px; /* Espacio mínimo entre los spans */
}
