/* Estilos para el contenedor del encabezado de búsqueda */
.EncabezadoBusqueda-Container {
    background-color: #D9D9D9;
    height: 60px; /* Puedes ajustar la altura según sea necesario */
    width: auto; /* Asegura que ocupe el ancho completo */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative; /* Para estar debajo del Header */
    z-index: 0; /* Para que pase por detrás del menú lateral */
    margin-left: 200px;
    margin-top: 115px;
    
  }
  
  /* Estilos para el texto */
  .EncabezadoBusqueda-Texto {
    font-size: 40px;
    font-family: 'Noticia Text', serif;
    color: #333;
  }
  
  /* Estilos para el input de búsqueda */
  .EncabezadoBusqueda-Input {
    width: 300px; /* Ajusta el ancho del input */
    margin-right: 40px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Noticia Text', serif;
  }
  