.casa {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.franja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.franja.superior, .franja.inferior {
  flex: 0.3;
  
}
.franja.superior{
  background-color: #EEB573

}
.franja.inferior{
  background-color: #5C5B5B
}
.franja.media {
  flex: 1;
  background-color: #D9D9D9;
}

.franja.media img {
  width: 40%;
  height: auto;
}

.franja.inferior button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
