.holacompañero{
    width: 12vw;
    height: auto;
}

.todomedio {
    display: flex;
  }
  
  .franja-izquierda, .franja-central, .franja-derecha {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }

.franja-izquierda{
   
        display: flex;
        flex-direction: column;
  
  }


.franja-central{
   
    display: flex;
    flex-direction: column;

}
.input-estilo {
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno */
  margin-bottom: 15px; /* Espacio entre inputs */
  border: 1px solid #ccc; /* Borde sutil */
  width: 100%; /* Hacer que ocupen todo el ancho disponible */
  box-sizing: border-box; /* Para que el padding no afecte el ancho total */
  height: 8%;
}

.input-estilo91910 {
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno */
  margin-bottom: 15px; /* Espacio entre inputs */
  border: 1px solid #ccc; /* Borde sutil */
  width: 20%; /* Hacer que ocupen todo el ancho disponible */
  box-sizing: border-box; /* Para que el padding no afecte el ancho total */
  height: auto;
  background: transparent; /* Fondo transparente */
  border: none;            /* Sin bordes */
  padding: 0;              /* Elimina el padding por defecto */
  margin: 0;               /* Elimina el margen por defecto */
  cursor: pointer;   
}

.input-estilo:focus {
  outline: none;
  border-color: #007BFF; /* Color del borde al enfocarse */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra al enfocarse */
}

/* Estilos generales para los botones de imagen */
.btn-imagen-912 {
  background: transparent; /* Fondo transparente */
  border: none;            /* Sin bordes */
  padding: 0;              /* Elimina el padding por defecto */
  margin: 0;               /* Elimina el margen por defecto */
  cursor: pointer;   
  width: 50%;             /* Ajusta el tamaño de la imagen */
  height: 10%;        /* Muestra el cursor de puntero al pasar por encima */
}

/* Estilos específicos para el botón "Guardar" */
.btn-imagen-guardar-912 img {
  width: 30%;             /* Ajusta el tamaño de la imagen */
  height: auto;            /* Ajusta el tamaño de la imagen */
}

/* Estilos específicos para el botón "Cerrar" */
.btn-imagen-cerrar-912{
  width: 90%;             /* Ajusta el tamaño de la imagen */
  height: auto;            /* Ajusta el tamaño de la imagen */
}

/* Contenedor de los botones */
.contenedor-botones-912 {
  display: flex;           /* Alinea los botones uno al lado del otro */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center;     /* Centra los botones verticalmente */
              /* Espacio entre los botones */
}

