.holacompañero{
    width: 12vw;
    height: auto;
}

.todomedio {
    display: flex;
  }
  
  .franja-izquierda, .franja-central, .franja-derecha {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }

.franja-izquierda{
   
        display: flex;
        flex-direction: column;
  
  }


.franja-central{
   
    display: flex;
    flex-direction: column;

}